* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-size: auto;
    background: #0f172a;
    /* overflow-x: hidden; */
}

/* ##### Navbar CSS ##### */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


header {
    margin-top: .5rem;
}

/* navbar container */
#navbar {
    padding: 1px;

}

/* Unordered list css where id = navbar */
#navmenu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;

    align-items: center;
}



#navmenu>li {
    margin-top: .8rem;
    margin-right: 3rem;

}

/* nav links*/
#navmenu>li>a {
    color: #94a3b8;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Fira Code", monospace;

}

#resume {
    background: inherit;
    padding: 0.362rem 0.75rem;
    color: #5eead4;
    font-size: 1rem;
    font-family: "Fira Code", monospace;
    border: 0.03125rem solid #5eead4;
    border-radius: 0.3125rem;
}

/* hovering on button */
#resume:hover {
    color: #94a3b8;
    cursor: pointer;
    border-color: #94a3b8;
}

/*hovering on nav links*/
#navmenu>li>a:hover {
    color: #5eead4;
}

#navmenu>li>a>span {
    color: #5eead4;
}



/* ################ Hero Section ################ */

#hero-section {
    /* background-color: red; */
    margin-top: 4rem;
    margin-left: 10rem;
    margin-bottom: 6.5rem;
}

#hero-container {
    margin: 0;
    /* margin-top: 4rem; */
}

p.para {
    font-family: "Fira Code", monospace;
    color: #5eead4;
    font-size: 1.3rem;
}

.hero-headline {
    font-size: 2.5rem;
    color: #e5e7eb;
    /* color: rgb(19 78 74); */
    line-height: 1;
}

.hero-headline>h1 {
    margin: .8rem 0;
    line-height: 1;
    font-weight: 600;
    /* font-weight: 700; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#work {
    color: #64748b
}

#intro-para {
    margin-top: 2rem;
    line-height: 1.5;
    color: #64748b;
}

.highlight {
    color: #5eead4;
}

#btn-ctn {
    margin-top: 2rem;
}

.bar {
    display: none;
    height: 5px;
    width: 22px;
    margin: 1px;
    /* background-color: #fff; */
    border-radius: 5px;
    transition: 0.3s ease;
}








 
/* ############################  tablets  ############################ */

/* @media (min-width:480px) and (max-width:600px) { */
@media  (max-width:820px) {

    
    * {
        background-size: initial;
    }

    header {
        margin: 0;
    }
    #hero-section{

    }

    
/* navbar on tablets */
    #navmenu {
        display: block;
        text-align: center;
        
        position: fixed;
        
        width: 100%;
        height: 100vh;
        top: 0;
        transform: translateY(-100%);
        transition: 250ms ease-in-out;

    }


    #navmenu>li {

        margin: 0rem;
        padding: 1rem;
    }

    #navmenu>li>a {

        letter-spacing: 0.1875rem;
    }

    
    #navmenu.visible{
        transform: translateY(0%);
    }

    #resume {
        letter-spacing: 0.1875rem;

    }


    #navbar {

        align-items: flex-start;
        padding: 0px;

    }
    


    /* hamburger menu */
    .hamburgerMenu {
        z-index: 11;
        background: none;
        position: absolute;
        cursor: pointer;
       
        right: 10px;
        top: 10px;

    }

    .bar {
        display: block;

        width: 29px;
        margin: 1px;
        margin: 3px 0px;
        background: #fff;

    }

   

    .iconclass {}

    .iconclass #bar1 {
        transform: translateY(5px) rotate(45deg);
    }

    .iconclass #bar3 {
        transform: translateY(-10px) rotate(-45deg)
    }

    .iconclass #bar2 {
        opacity: 0;
    }








    /* hero section on tablets */
    #hero-section {
        display: block;
        margin-left: 2rem;
        margin-top:4rem;
        text-align: center;
    }

    #intro-para>p.para {
        text-align: start;
    }
}



/* ##########################   Mobile  ##########################  */
@media screen and (max-width:480px) {
 

    #navmenu>div>li>a {
        padding: 1rem;
        margin-top: 35px;
        background: inherit;
    }

    

    .hamburgerMenu {
        z-index: 11;
        background: none;
        position: absolute;
        cursor: pointer;
        /* left: 67px; */
        right: 10px;
        top: 10px;

    }

    .bar {
        display: block;

        width: 29px;
        margin: 1px;
        margin: 3px 0px;
        background: #fff;

    }

    .iconclass {}

    .iconclass #bar1 {
        transform: translateY(5px) rotate(45deg);
    }

    .iconclass #bar3 {
        transform: translateY(-10px) rotate(-45deg)
    }

    .iconclass #bar2 {
        opacity: 0;
    }

    

    #hero-section {
       
            margin:0rem 2rem;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
    }
    #hero-container {padding: 0.5rem;}

    .hero-headline {
        font-size: 1.7rem;
    }
    .hero-headline>h1{
        font-weight: 700;
    }

    p.para {
        font-family: "Fira Code", monospace;
        color: #5eead4;
        font-size: 1.2rem;
    }

} 